/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flexbox;
}
/* Fonte Rock Salt */
.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Fonte Darker */
  @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400&display=swap');

body {
    margin: 0;
    background: linear-gradient(to bottom, #9CC1DC, #D5C3EC, #C2C6DD)

}

.barraNavegacao {
  display: flex;
  flex-direction: column;
  content: 30px;
  width: absolute;
  height: 300px;
  background-size: cover;
  background-position-x: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  font-family: 'Darker Grotesque';
  font-size: 30px;
  color: azure;
  background-image: url('../img/image-312-1024x733.webp');
}

.barraNavegacao__logo {
margin: 30px;
width: 50px;
height: auto;
border-radius: 5px;

}

.barraNavegacao__botao {
    align-content: center;
    margin-bottom: 20px;
    width: absolute;
    border-bottom: 1px solid azure;
}

.barraNavegacao__botao--1 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    border: 1px solid azure;
    padding: 5px;
  }

.barraNavegacao__botao--2 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    border: 1px solid azure;
    padding: 5px;
  }

.barraNavegacao__botao--3 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    border: 1px solid azure;
    padding: 5px;
  }

.barraNavegacao__botao--4 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    border: 1px solid azure;
    padding: 5px;
    outline: none;
  }

  /* Rodapé*/

  .rodape_style {
    background-color: #3F3D3D;
    margin-top: 100px;
    padding: 20px;
    width: 100%;
    height: 100px;
    
  }
  
  .rodape_botao1 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    padding: 5px;
    font-family:'Darker Grotesque';
  
  }
  
  .rodape_botao2 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    padding: 5px;
    font-family:'Darker Grotesque';
  
  }
  
  .rodape_botao3 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    padding: 5px;
    font-family:'Darker Grotesque';
  }
  
  .rodape_botao4 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    padding: 5px;
    font-family:'Darker Grotesque';
  }