/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
display: flexbox}

  @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400&display=swap');
  @import url('https://fonts.google.com/share?selection.family=Satisfy');

body {
    margin: 0px;
    background: linear-gradient(to bottom, #9CC1DC, #D5C3EC, #C2C6DD);
  
}

.barraNavegacao {
content: 30px;
width: absolute;
height: 300px;
background-image: url('../img/poorthings\ \(1\).jpeg');
background-size: cover;
background-position-x: 100%;
background-position-y: 50%;
background-repeat: no-repeat;
color: azure;
font-family: 'Satisfy';

}

.barraNavegacao__logo {
margin: 30px;
width: 50px;
height: auto;
border-radius: 5px;

}

.barraNavegacao__botao {
    align-content: center;
    margin-bottom: 20px;
    width: absolute;
    border-bottom: 1px solid azure;
    display: inline;
}

.barraNavegacao__botao--1 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    border: 1px solid azure;
    padding: 5px;
  }

.barraNavegacao__botao--2 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    border: 1px solid azure;
    padding: 5px;
  }

.barraNavegacao__botao--3 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    border: 1px solid azure;
    padding: 5px;
  }

.barraNavegacao__botao--4 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    border: 1px solid azure;
    padding: 5px;
    outline: none;
  }

.texto-main {
color: #3F3D3D;
text-align: left;
text-align: justify;
margin-left: 300px;
margin-right: 300px;
font-family: 'Darker Grotesque';

}

.citacao1 {
  color: azure;
  text-align: center;
  font-family: 'Darker Grotesque';
}

.titulo1 {
  color: #3F3D3D;
  text-align: left;
  text-align: justify;
  font-family: 'Darker Grotesque';
  font-size: 42px;

}

/* Seção de podcast */

.podcast {
margin: 20px;

}

.podcast_img {
  background-image: url(./assets/img/posterpodcast.jpg);
  align: center;
  margin: 50px;
  width: absolute;
  height: auto;
  background-size: absolute;
}

/* Seção de notícias */
.news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 300px;
  margin-right: 300px;
}

.news-row {
  display: flex;
}

.news-item {
  width: 33.33%; /* Cada item ocupará 1/3 da largura da linha */
  margin: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: 'Darker Grotesque';
}

.news-item a {
  text-decoration: none;
  color: #3F3D3D;
}

.news-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.aside {
  flex: 200 0 0;
  margin-left: 20px; 
}

.rodape_style {
  background-color: #3F3D3D;
  margin-top: 100px;
  padding: 20px;
  width: 100%;
  height: 100px;
}

.rodape_botao1 {
  text-decoration: none;
  outline: none;
  color: azure;
  margin: 40px;
  padding: 5px;
  font-family:'Darker Grotesque';

}

.rodape_botao2 {
  text-decoration: none;
  outline: none;
  color: azure;
  margin: 40px;
  padding: 5px;
  font-family:'Darker Grotesque';

}

.rodape_botao3 {
  text-decoration: none;
  outline: none;
  color: azure;
  margin: 40px;
  padding: 5px;
  font-family:'Darker Grotesque';

}

.rodape_botao4 {
  text-decoration: none;
  outline: none;
  color: azure;
  margin: 40px;
  padding: 5px;
  font-family:'Darker Grotesque';

}
