/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fonte Rock Salt */
.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}


/* Fonte Darker */
  @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400&display=swap');
  
body {
    margin: 0px;
    background: linear-gradient(to bottom, #9CC1DC, #D5C3EC, #C2C6DD);
    
  
}


.barraNavegacao {
display: flex;
flex-direction: column;
content: 30px;
width: 100%;
height: 300px;
background-size: cover;
background-position-x: 100%;
background-position-y: 50%;
background-repeat: no-repeat;
font-family: 'Darker Grotesque';
font-size: 25px;
color: azure;
background-image: url('../img/poorthings\ \(1\).jpeg');
transition: transform 0.3s ease;
}

.barraNavegacao__logo {
margin: 30px;
width: 50px;
height: 40px;
border-radius: 5px;

}

.barraNavegacao__botao {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    width: absolute;
    border-bottom: 1px solid azure;
    display: inline;
}


.barraNavegacao__botao--1 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    padding: 5px;
  }

.barraNavegacao__botao--2 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    padding: 5px;
  }

.barraNavegacao__botao--3 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    padding: 5px;
  }

.barraNavegacao__botao--4 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    padding: 5px;
    outline: none;
  }

.titulo1 {
  color: #3F3D3D;
  text-align: center;
  font-family: "Rock Salt", cursive;
  font-size: 30px;
}
  
.purple {
color: #825EF4;
}  
  

.texto-main {
color: #3F3D3D;
text-align: left;
font-size: 25px;
margin-left: 300px;
margin-right: 300px;
text-align: justify;
font-family: 'Darker Grotesque';

}

.citacao1 {
  color: black;
  text-align: right;
  margin-top: 40px;
  margin-right: 40px;
  font-size: 10px;
  font-family: "Rock Salt", cursive;
}

/* Seção do trailer */

.trailer {
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
}

.trailer_texto {
  margin-bottom: 40px;
  margin-top: 40px;
  color: azure;
  font-size: 25px;
  text-align: center;
  font-family: 'Darker Grotesque';
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

/* Seção de podcast */

.podcast {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  margin-top: 40px;
  color: azure;
  font-size: 25px;
  text-align: center;
  font-family: 'Darker Grotesque';
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-image: url(./assets/img/posterpodcast.jpg);

}

.podcast_img {
  height: auto;
  background-position: center; /* Centraliza a imagem */
  background-color: #3F3D3D;
}

/* Seção de notícias */
.news-title {
  font-size: 25px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: azure;
  text-align: center;
  font-family: 'Darker Grotesque';
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 300px;
  margin-right: 300px;
}

.news-row {
  display: flex;
}

.news-item {
  width: 33.33%;
  margin: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: 'Darker Grotesque';
}

.news-item a {
  text-decoration: none;
  color: #3F3D3D;
}

.news-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.aside-direita {


}

/* Rodapé*/

.rodape_style {
  background-color: #3F3D3D;
  margin-top: 100px;
  padding: 20px;
  width: 100%;
  height: 100px;
  
}

.rodape_botao1 {
  text-decoration: none;
  outline: none;
  color: azure;
  margin: 40px;
  padding: 5px;
  font-family:'Darker Grotesque';

}

.rodape_botao2 {
  text-decoration: none;
  outline: none;
  color: azure;
  margin: 40px;
  padding: 5px;
  font-family:'Darker Grotesque';

}

.rodape_botao3 {
  text-decoration: none;
  outline: none;
  color: azure;
  margin: 40px;
  padding: 5px;
  font-family:'Darker Grotesque';
}

.rodape_botao4 {
  text-decoration: none;
  outline: none;
  color: azure;
  margin: 40px;
  padding: 5px;
  font-family:'Darker Grotesque';
}

/* Barra de busca */

