/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fonte Rock Salt */
.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}


/* Fonte Darker */
  @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400&display=swap');
  
body {
    margin: 0px;
    background: linear-gradient(to bottom, #9CC1DC, #D5C3EC, #C2C6DD);
    
}


.barraNavegacao {
display: flex;
flex-direction: column;
content: 30px;
width: 100%;
height: 300px;
background-size: cover;
background-position-x: 100%;
background-position-y: 50%;
background-repeat: no-repeat;
font-family: 'Darker Grotesque';
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
font-size: 25px;
color: azure;
background-image: url('../img/Poor-Things-ganha-melhor-filme-musical-ou-comedia-no-Globo.jpg');
}


.barraNavegacao__logo {
margin: 30px;
width: 50px;
height: 50px;
border-radius: 5px;

}

.barraNavegacao__botao {
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    margin-bottom: 20px;
    width: absolute;
    border-bottom: 1px solid azure;
    display: inline;
}

.barraNavegacao__botao--1 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    padding: 5px;
  }

.barraNavegacao__botao--2 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    padding: 5px;
  }

.barraNavegacao__botao--3 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    padding: 5px;
  }

.barraNavegacao__botao--4 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    padding: 5px;
    outline: none;
  }

  /* Texto */
.titulo {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #3F3D3D;
  text-align: center;
  font-family: "Rock Salt", cursive;
  font-size: 30px;

}

.texto_principal {
  color: #3F3D3D;
  text-align: left;
  font-size: 25px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: justify;
  font-family: 'Darker Grotesque';

}

  /* Fotos */

  .elenco {
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-right: 300px;
    color: #3F3D3D;
    font-size: 25px;
    margin-left: 300px;
    margin-right: 300px;
    font-family: 'Darker Grotesque';
    font-weight: bold;

}

.elenco-member {
    width: 30%;
    height: 30%;
    margin: 20px;
    text-align: center;
}

.elenco-memberdir {
  width: 50px;
  height: auto;
  margin: 20px;
  text-align: center;

}

 /* Outros do elenco*/

.titulo_outrosmembros{
  list-style: none;
  color: #3F3D3D;
  font-size: 25px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  font-family: 'Darker Grotesque';
}

  /* Rodapé*/

  .rodape_style {
    background-color: #3F3D3D;
    margin-top: 100px;
    padding: 20px;
    width: 100%;
    height: 100px;
    
  }
  
  .rodape_botao1 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    padding: 5px;
    font-family:'Darker Grotesque';
  
  }
  
  .rodape_botao2 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    padding: 5px;
    font-family:'Darker Grotesque';
  
  }
  
  .rodape_botao3 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    padding: 5px;
    font-family:'Darker Grotesque';
  }
  
  .rodape_botao4 {
    text-decoration: none;
    outline: none;
    color: azure;
    margin: 40px;
    padding: 5px;
    font-family:'Darker Grotesque';
  }